.login-button, .logout-button{
    padding:10px;
    font-size: 18px;
    border: 1px solid #111111;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        color: red;
    }
}

.service-entrance{

    .service-entrance-box{
        width: 290px;
        padding: 20px;
        margin: 0 auto;
        -webkit-transition: all 1s ease;
           -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
             -o-transition: all 1s ease;
                transition: all 1s ease;
        &:hover{
            box-shadow: 0 3px 10px rgba(0,0,0,.2);
        }
    }
    
    .service-info{
        min-height: 17px;
    }

    a {
        display: inline-block;
        max-width: 250px;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        img {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            min-width: 250px;
            min-height: 181px;
        }
        h4 {
            font-size: 20px;
            color: #333;
            margin: 18px 0 10px 0;
            height: 18px;
            line-height: 18px;
            color: #14191e;
            text-align: center;
            white-space: nowrap;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 15px;
            color: #909090;
            margin: 8px 0;
            text-align: center;
            white-space: nowrap;

            .caution{

                border: 1px solid teal;
                border-radius: 5px;
                background-color: teal;
                color: white;
                padding:5px;
            }
            .number{
                color: red;
                font-size: 120%;

            }
        }
    }

    .chinese-translation{
        font-family: 'STHeiti', 'Microsoft YaHei';
    }

    .caution{
        border: 1px solid teal;
        border-radius: 5px;
        background-color: teal;
        color: white;
        padding:5px;
    }
} 
