<template name="Header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"> <img class="logo" src="images/logo.png" alt="FindingMyRoommate" /></a>
			</div>
			<!-- /.navbar-header -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/rides">Share A Ride</a></li>
					<li><a href="/roommate">Find Roommates</a></li>
					<li><a href="/sublease">Sublease Information</a></li>
				</ul>
				<!-- Right side of navbar -->
				<ul class="nav navbar-nav navbar-right">
					{{#if currentUser}}
						<li class="logout-button">Logout</li>
					{{else}}
						<li class="login-button">Login/SignUp</li>
					{{/if}}

				</ul>
			</div>

			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- Login Modal -->
	{{> LoginModal}}


</template>
