<template name="HomeLayout">
    <div class="home-body">
        {{> Header}}
        <section class="description">
            <div class="container">
                <div class="row">
                    <h1>Easier to Find Roommates and Apartments<br>
                   as well as Ride-sharing information</h1>
                    <h2>Inspired by <span class="chinese">"普渡找房找室友群"</span>. <br>Faster to Post and Search Information</h2>
                </div>
            </div>
        </section>

        <section class="main">
            {{> ServiceEntrance}}
        </section>

        <section class="footer"> 
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 about-site">
                    <p>
                    <b>Story of this site:</b>
                    <br>
                    I found my roommates and a good apartment very near to my university recently by looking for information in a qq chatting group called "Looking for apartments and roommates at Purdue".
                    <br>
                    <br>
                    About 800 Chinese students are in that chat room exchanging information about apartments, roommates, subleases and ride-sharing. But obviously a chat room is not an ideal place to publish these information. It is difficult to collect useful information because texts sink quickly during chatting. Further more, it is not possible to judge whether a piece of old information is still valid when you find it. Inspired by my experience using this chat room I decided to make a web application to provide services such as posting and looking for these information.
                    <br>
                    <br>
                    The site is still under construction, with only basic ride-sharing function which is used more often during the semester. I really appreaciate suggestion from you. My email is <span class="email">gt at purdue.edu</span>
                    <br>
                    <br>
                    BTW, I build it to learn MeteorJS and it is totally non-profit. <a href="https://www.meteor.com/tutorials">Meteor</a> is a great and easy to use javascript full stack framework.
                    </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
