$mycolor-darkblue: #23527c;
$mycolor-darkgrey: #C1C1C1;
$mycolor-lightgrey: #DADADA;

$mycolor-darkgreen: #3c763d;
$mycolor-darkred: #A94442; //

$break-small: 319px;
$break-medium : 767px;
$break-large: 1023px;

@mixin trans($sec){
    transition: all $sec ease;
}


.chinese{
	font-family: 'STHeiti', 'Microsoft YaHei';
}

.center{
	display: table;
	width: auto;
	margin: auto;
	text-align: center;
}

.left{
	margin-left: 15px;
	margin-right: auto;
}

.add-margin-top{
	margin-top: 10px;
}
.add-margin-bottom{
	margin-bottom: 10px;
}

.no-padding{
	padding: 0;
}


section.new-ride-form{
	margin-top: 10px;

	.title{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	.radios{
		label{
			font-weight: normal;
			margin-bottom: 0;
			cursor: pointer;
			margin-right: 5px;
		}
		.radio-inline{
			margin: 0;
			vertical-align: middle;
		}
		.wrapper-inline{
			display: inline-block;
			margin-right: 5px;
		}
	}

	.service-info{
		padding: 0;
		margin-top: 4px;
		margin-bottom: 4px;
		color: #31708F;
		font-size: 16px;
	}

	.submit-btn{
		margin: 5px;
		min-width: 200px;
		font-size: 18px;
		@media screen and (max-width: $break-medium) {
			display: table;
			margin-left: auto;
			margin-right: auto;
		}

	}

	.right-button{
		float: right;
		@media screen and (max-width: $break-medium) {
			float: none;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
	}


	.normal-btn{
		margin: 5px;
		min-width: 100px;
		font-size: 15px;
	}

	.required:after{
		content: "*";
		color: red;
	}
}


section.rides-list{
	.tabs-container {
		padding: 0;
		margin: 15px;
		border-radius: 5px;
		font-size: 18px;
	}

	.nav-tabs > li > a {
		text-align: center;
	}

	.ride-box{
		
		&:hover{
			-webkit-box-shadow: 0 3px 6px #444444;
			-moz-box-shadow: 0 3px 6px #444444;
			box-shadow: 0 3px 6px #444444;
			@include trans(0.2s);
		}
		
		margin: 0 0 25px 0;
		border: thin solid $mycolor-darkgrey;
		border-top: 5px solid $mycolor-darkgrey;

		position: relative;

		.ride-direction, .fa-trash, .fa-pencil{
			opacity:0.3;
			cursor:pointer;
			position:absolute;
			top:0;
			font-size:1.6em;
			display:block;
			color:black;
			@include trans(0.3s);
			padding-top: 10px;
		}
		.fa-pencil{
			right: 60px;
			&:hover{
				color:$mycolor-darkgreen;
				opacity:0.8;
			}
		}
		.fa-trash{
			right: 30px;
			&:hover{
				color:$mycolor-darkred;
				opacity:0.8;
			}
		}

		.ride-direction{
			left: 20px;
			color: $mycolor-darkred;
			font-size: 1em;
			line-height: 1em;
			cursor: default;
			text-shadow: 1px 1px $mycolor-lightgrey;
			&.require-ride{
				color: $mycolor-darkred;
				opacity: 1;
			}

			&.provide-ride{
				color: $mycolor-darkgreen;
				opacity: 1;

			}
		}


		.ride-inner-box{
			padding: 40px 3% 20px 3%;
		}

		.avatar.avatar-circle{
			height:50px;
			width: 50px;
			text-align: center;

			@media screen and (max-width: $break-medium) {
				height: 40px;
				width: 40px;
				.avatar-initials{
					line-height: 40px;
				}
			}
			@media screen and (max-width: $break-small) {
				height: 30px;
				width: 30px;
				.avatar-initials{
					line-height: 30px;
				}
			}
		}

		.user-col{
			padding-left: 0;
			padding-right: 0;
		}
		.user-name{
			width: 100%;
			font-size: 16px;
			text-align: center;
			color: #333;
		}
		.ride-col{
			border-left: 2px solid $mycolor-darkgrey;
			.location{
				display: inline-block;
				padding: 5px;
				border-radius: 4px;
				border: 1px solid $mycolor-darkblue;
				margin-top: 5px;
				margin-bottom: 5px;
				font-weight: bold;

			}
			.fa-arrow-right{
				padding-left: 5px;
				padding-right: 5px;
			}

			.date, .time{
				margin-left: 15px;
				padding-left: 10px;
			}

			.time{
				border-top: 2px dashed $mycolor-lightgrey;
			}

			.description{
				margin: 15px 0 15px 25px;
				padding: 15px;
			}
			hr{
				margin-left: 15px;
			}
		}
		hr{
			border-top: 2px solid $mycolor-darkgrey;
		}
		.alert{
			width: auto;
			padding: 10px;
			display: inline-block;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
}

nav.navbar{
	background-color: #012178;

	.icon-bar {
		background-color:white;
	}

	.navbar-brand{
		padding: 5px 20px 5px 10px;

		img{
			-webkit-filter: invert(100%);
			filter: invert(100%);
			width: 220px;
		}
	}
	margin: 0;

	li{
		a{
			font-size: 16px;
			color: white;
			&:hover{
				border-color: #000;
				color: $mycolor-darkblue;
			}
		}
	}

	li.login, li.logout{
		margin: 0 10px 0 10px;
		a{
			text-align: center;
			border: 1px solid white;
			border-radius: 4px;
			font-size: 18px;
			padding: 12px;
			color: white;

			&:hover{
				border-color: #000;
				color: $mycolor-darkblue;
			}


		}

	}
}

.home-body{
	position: absolute; //can not use body since the css are shared by all html, so simulate body
	width: 100%;
	min-height: 100%;
	background: url('/images/home-bg.jpg');
	background-size: cover;

	nav.navbar{
		background-color: transparent;
	}

	section.description{
		text-align: center;

		h1 {
			margin: 0;
			font-size: 3em;
			padding: 1em 0 .5em 0;
		}

		h2 {
			margin: 0;
			font-size: 2em;
			padding-bottom: 1em;
		}

		color: white;
	}


	section.main{
		.service-entrance{
			margin-bottom: 20px;
			.service-entrance-box{

				background-color: rgba(255,255,255,0.7);
				width: 290px;
				padding: 20px;
				margin: 0 auto;
				-webkit-transition: all 0.1s ease;
				-moz-transition: all 0.1s ease;
				-ms-transition: all 0.1s ease;
				-o-transition: all 0.1s ease;
				transition: all 0.1s ease;
				&:hover{
					box-shadow: 0 3px 10px rgba(255,255,255,0.7);
					background-color: rgba(255,255,255,0.8);
				}
			}
			
			.service-info{
				min-height: 17px;
			}

			a {
				display: inline-block;
				max-width: 250px;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
				img {
					width: 100%;
					height: 100%;
					border: 1px solid #ccc;
					min-width: 250px;
					min-height: 180px;
				}
				h4 {
					font-size: 20px;
					color: #000;
					margin: 18px 0 10px 0;
					height: 18px;
					line-height: 18px;
					text-align: center;
					white-space: nowrap;
				}
				p {
					margin: 0;
					padding: 0;
					font-size: 16px;
					color: $mycolor-darkblue;
					margin: 8px 0;
					text-align: center;
					white-space: nowrap;

					.caution{

						border: 1px solid teal;
						border-radius: 5px;
						background-color: teal;
						color: white;
						padding:5px;
					}
					.number{
						color: red;
						font-size: 120%;

					}
				}
			}

			.caution{
				border: 1px solid teal;
				border-radius: 5px;
				background-color: teal;
				color: white;
				padding:5px;
			}
		}
	}
}